/* footer {
  width: 100%;
  background-color: #1abc9c;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
row-gap: 60px;

}
.location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}
.location h2 {
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
}
.first{
    width: 10px;
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  margin-right: 70px;
  
  } */
/* footer{
    color: #fff;
    background-color:#2e3a51;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  text-align: center;
  }
  footer h2{

    margin-top: 0;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }footer div{
  padding-left: 20px;
  width: 200px;
 justify-items: center;
  }.ddd{
    display: flex;
  }footer li {
    list-style-type: none;
    color: #fff;
  }footer a{
    height:100px;
width: 100px;
justify-items: center;
  }footer li{
    border: 2px solid #fff;
border-radius: 20px;

  }*/

footer {
  width: 100%;
  font-weight: 100;
  color: #fff;
  background-color: #2e3a51;
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 100px;
  row-gap: 100px;
  flex-wrap: wrap;
  height: 320px;
  justify-items: center;
}
footer h2 {
  font-weight: 700;
  font-size: large;
  padding-bottom: 10px;
}
.loc{
  height: 200px;
  width: 200px;
  justify-items: center;
  padding-left: 40px;
}.com{
  height: 200px;
  width: 300px;
  justify-items: center;
}.Freelancer{
  height: 200px;
  width: 100px;
  justify-items: center;
  padding-left: 40px;
}
.copy {
  background-color: #1a252f;
  height: 10px;
  width: 100%;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.communication {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}

.communication-child{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  border-color: #fff;
  border-style: solid;
} .communication .communication-child:hover svg {

 fill: #1a252f;}

  .communication  svg{

    width: 20px;
    height: 20px;
    fill: #fff;
    padding-top: 10px;
    padding-left: 10px;
  } .communication-child:hover{
    background-color: #fff;
  }